.movie-page-component {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .flex {
        display: flex;
        justify-content: space-between;
        .column {
            padding: 10px;
            padding-bottom: 50px;
            box-sizing: border-box  ;
            min-height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                height: 500px;
            }
        }
    }
    .button {
        border: none;
        height: 30px;
        width: 150px;
        margin-bottom: 20px;
        color: white;
        background-color: red;
        cursor: pointer;
    }
}