
.movies-page-component {

    h2 {
        text-align: center;
        color: #f5c518;
        font-size: 30px;
    }

    .background {
        padding: 20px;
        // margin: 20px 0;
    }
    
    .background:nth-child(even) {
        background-color: black;
    }
}