.home-page-component {
    min-height: 100vh;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/c16cf196-e89e-4c46-8cc7-f2eca6fb0762/14f61d9c-651c-4062-a4a9-053acc96f022/BG-en-20220103-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        background-color: rgba($color: #000000, $alpha: .6);
        min-height: 100vh;
        box-shadow: inset 0  0 400px 100px black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .heading-holder {
            background-color: rgba($color: #000000, $alpha: .6);
            padding: 30px;
            border: solid 1px white;
            p {
                font-size: 20px;
                max-width: 50%;
                text-align: center;
                margin: auto;
            }
            .button-holder {
                display: flex;
                justify-content: space-around;
                padding: 10px;
                margin-top: 30px;
                .books-link, .movies-link {
                    // height: 50px;
                    // width: 200px;
                    font-weight: 700;
                    display: block;
                    text-decoration: none;
                    padding: 5px;
                    width: 300px;
                }
                .books-link {
                    background-color: red;
                    color: #000000;
                }
                .movies-link {
                    background-color: #f5c518;
                    color: #000000;
                }
            }
        }
    }
}

