.footer {
    // border-top: 2px solid black;
    box-shadow: 0 0 10px 5px black;
    // margin-top: 50px;
    min-height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}